{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "testing-library", "jest-dom", "prettier", "jsx-a11y"],
  "overrides": [
    {
      "files": ["*.js", "*.ts", "*.tsx"],
      "rules": {
        "@typescript-eslint/no-var-requires": 1,
        "jest-dom/prefer-checked": "error",
        "jest-dom/prefer-enabled-disabled": "error",
        "jest-dom/prefer-required": "error",
        "jest-dom/prefer-to-have-attribute": "error"
      }
    }
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "paths": ["src"]
      }
    },
    "jsx-a11y": {
      "components": {
        "CityInput": "input",
        "CustomButton": "button",
        "MyButton": "button",
        "RoundButton": "button"
      }
    }
  },
  "env": {
    "node": true,
    "browser": true,
    "amd": true
  },
  "extends": [
    "plugin:jest-dom/recommended",
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:jsx-a11y/recommended"
  ]
}
